<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Datos del repositorio ProdDatos</title>
	</head>
	<body>
		<h1>Datos del repositorio Productos de Datos</h1>
		<div>			
			<img src="{{url_for('static', filename='Accuracy_and_Report.png')}}" width="500" height="500"/>
		</div>
		<div>			
			<img src="{{url_for('static', filename='Confussion_Matrix.png')}}"  width="500" height="500"/>
		</div>
		<div>			
			<img src="{{url_for('static', filename='Mean_Squared_Error.png')}}"  />
		</div>
	</body>
</html>
